*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

main{
    margin: 0 auto;
    width: 940px;
}

a{
    text-decoration: none;
}

.container{text-align: center;}

.container .p-info{
    display: inline-block;
}

.h1{
    padding: 7px 10px;
}

.p-info{
    padding: 0px 10px;
    margin-bottom: 2em;
}

.list .question{font-weight: bold;}

.list{list-style-type: lower-latin;}
.sublist{
    font-weight: 300;
    list-style-type: none;
    margin-left: 20px;
    padding: 5px;
}


.btn{
    color: #fff;
    font-weight: 600;
    background-color: #121212;
    padding: 13px;
    border-radius: 7px;
    border-width: 0px;
    margin-bottom: 1em;
}

.btn:hover{
    background-color: #202020;
    cursor: pointer;
}

.form-field{
    margin-left: 14.5em;
    margin-right: 14.5em;
}

.form{
    border-radius: 5px;
    border-width: 5px;
    border-color: black;
    width: 470px;
    padding: 0.4em;
}

.form .label{
    display: inline-block;
    text-align: right;
    width: 150px;
    text-align: left;
    padding: 6px 0px;
}

.form button{
    margin: 10px 0px 4px 0px;
    color: #fff;
    border-radius: 5px;
    background-color: #000;
    padding: 4px;
}

.form button:hover{cursor: pointer; background-color: #121212;}