*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

main{
    margin: 0 auto;
    width: 940px;
}

a{
    text-decoration: none;
}

.container{text-align: center;}

.container .p-info{
    display: inline-block;
}

.h1{
    padding: 7px 10px;
}

.p-info{
    padding: 0px 10px;
    margin-bottom: 2em;
}

.list .question{font-weight: bold;}

.list{list-style-type: lower-latin;}
.sublist{
    font-weight: 300;
    list-style-type: none;
    margin-left: 20px;
    padding: 5px;
}
a{
    color: #fff;
    font-weight: 700;
}

button{
    background-color: #121212;
    padding: 9px;
    border-radius: 7px;
    box-shadow: 1px 1px 1px #000;
}

button:hover{
background-color: #202020;
}